<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>la forge du web</title>
  <link rel="stylesheet" href="./css/not_found.css">
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
  <script src="./p5/p5.js"></script>
  <!-- <script src="../addons/p5.sound.js"></script> -->
  <script src="./scripts/not_found.js"></script>
</head>

<body>
  <main>
    <p>Erreur 404.</p> <br/>
    <p>La page que vous recherchez n'est pas attribuée.</p>
  </main>
</body>

</html>
